a {
	text-decoration: none;
}
ul,
ol,
li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1, 
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
html,
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000000;
	font-family: Heebo;
}
.wrapper {
	min-width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
._container {
	max-width: 856px;
	padding: 0px 15px;
	margin: 0px auto;
	box-sizing: content-box;
}
/* ................................................................................. */
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}
.header__container {
	display: flex;
	min-height: 97px;
	align-items: center;
}
@media	(max-width: 575px){
	.header__container {
		display: none;
		min-height: 50px;
	}
}
.header__menu {
	margin: 0px 0px 0px 70%;
}
@media	(max-width: 992px){
	.header__menu {
	margin: 0px 0px 0px 60%;
	}
}
@media	(max-width: 767px){
	.header__menu {
	margin: 0px 0px 0px 50%;
	}
}
.menu__list {
	flex-wrap: wrap;
	display: flex;
}
.menu__item {
	margin: 0px 0px 0px 35px;
}
.menu__link {
	color: #000000;
	font-weight: 500;
	line-height: 29px;
}
.header__container__lines{
	min-height: 50px;
	align-items: center;
	display: none;
}

@media (max-width: 575px) {
	.header__container__lines{
		display: block;
	}
}
.header__container__lines{
	margin: 32px 0px 0px 0px;
}

.menu__line{
	display: block;
    width: 30px;
    height: 1px;
    background-color: #21243D; 
    margin: 0px 21px 9px 90%;
	margin-bottom: 9px; 
}
/* ................................................................................. */
.page {
	flex: 1 1 auto;
}
/* ................................................................................. */
.main-block__body{
	padding: 228px 0px 148px 0px;
	max-width: 506px;
}
@media (max-width: 575px){
	.main-block__body{
		padding: 34px 0px 148px 0px;
		max-width: 312px;
		margin: 0px auto;
		text-align: center;
	}
}
.main-block__container{
	display: flex;
}
@media (max-width: 575px){
	.main-block__container{
			flex-direction: column;
			flex-wrap: wrap;
		}
		#a { order: 2; }
        #b { order: 1; }
	
}
.main-block__title{
	font-size: 44px;
	line-height: 60px;
	font-weight: 700;
	margin: 0px 0px 40px 0px;
}
@media (max-width: 479px){
	.main-block__title{
	font-size: 32px;
	line-height: 40px;
	}
}
.main-block__text{
	line-height: 23.5px;
	font-weight: 400;
	margin: 0px 0px 40px 0px;
}
.main-block__batton{
	display: inline-flex;
}
.main-block__batton_Download{
	background: #FF6464;
	border-radius: 2px;
	display: flex;
	min-height: 47px;
	max-width: 208px;
	justify-content: center;
	align-items: center;
	color: #FFFFFF;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
	padding: 10px 20px 10px 20px;
}

.main-block__image{
	padding: 210px 0px 106px 0px;
}
@media (max-width: 575px){
	.main-block__image{
	padding: 83px 0px 34px 0px;
	}
}

/* ................................................................................. */
.footer{

}